body{
    background-color: #091921;
}
#container{
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-image: url("https://i.postimg.cc/hjVspvcJ/clock.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin:auto;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
      inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
      inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
#hour,#minute,#second{
    position: absolute;
    border-radius: 15px;
}
#hour{
    width: 1%;
    height: 25%;
    top: 15%;
    left: 49.25%;
    background-color: rgb(255, 255, 255);
    opacity: .8;
    transform-origin: bottom;
}
#minute{
    width: .5%;
    height: 30%;
    top: 10%;
    left: 49.5%;
    background-color: rgb(255, 255, 255);
    opacity: .8;
    transform-origin: bottom;
}
#second{
    transform-origin: bottom;
    width: .6%;
    height: 35%;
    top: 5%;
    left: 49.5%;
    background-color: rgb(255, 255, 255);
    opacity: .8;
}
